<ul class="pagination justify-content-center">
  <li class="page-item"><a class="page-link" href="http://localhost:4200/twitter/1">1</a></li>
  <li class="page-item"><a class="page-link" href="http://localhost:4200/twitter/2">2</a></li>
  <li class="page-item"><a class="page-link" href="http://localhost:4200/twitter/3">3</a></li>
  <li class="page-item"><a class="page-link" href="http://localhost:4200/twitter/4">4</a></li>
  <li class="page-item"><a class="page-link" href="http://localhost:4200/twitter/5">5</a></li>
</ul>

<div id="twitterContent"></div>

<ul class="pagination justify-content-center">
  <li class="page-item"><a class="page-link" href="http://localhost:4200/twitter/1">1</a></li>
  <li class="page-item"><a class="page-link" href="http://localhost:4200/twitter/2">2</a></li>
  <li class="page-item"><a class="page-link" href="http://localhost:4200/twitter/3">3</a></li>
  <li class="page-item"><a class="page-link" href="http://localhost:4200/twitter/4">4</a></li>
  <li class="page-item"><a class="page-link" href="http://localhost:4200/twitter/5">5</a></li>
</ul>
<button class="btn" (click)="grab100()">Load 100 Tweets</button>
