.container{
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 50%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.80);
}

.japaneseText{
  display: flex;
  align-items: center;
  margin: auto;
  height: 33%;
}
.translatedText{
  display: flex;
  align-items: center;
  margin: auto;
  height: 33%;
}

p{
  margin: auto;
  padding-bottom: 10px;
}

.translatedText input{
  margin-right: 20px;
}

.postCheck{
  margin: auto;
  height: 33%;
}
.buttons{
  display: flex;
  gap: 20px;
}
