<div class="container" *ngIf="dataAvailable">

  <div class="japaneseText">
    {{currentVocab.japanese}}
  </div>

  <div class="translatedText">
    <input type="text" placeholder="What does '{{currentVocab.japanese}}' mean" [(ngModel)]="translatedText">
    <button class="btn btn-primary" (click)="checkTranslation()">Check</button>
  </div>

  <p>{{result}}</p>


  <div class="postCheck">
    <div class="buttons" *ngIf="checkedVocab != undefined">
      <button class="btn btn-primary" (click)="next()">Next</button>
      <button class="btn btn-dark" (click)="addTranslation()">Add translation</button>
    </div>
  </div>
</div>
